/build/window/ShaderCach/D3D11
/build/window/*.user
/extern/Bullet-2.82/build/vs2008/obj/x32/Debug/BulletCollision/*.obj
/extern/Bullet-2.82/build/vs2008/obj/x32/Debug/BulletCollision/BulletCollision.tlog/*.tlog
/build/obj/Animation/Debug/*.log
*.log
*.obj
/extern/FreeImage-3.13.1/Source/FreeImageLib/Debug
/extern/FreeImage-3.13.1/Source/LibJPEG/Debug
/extern/FreeImage-3.13.1/Source/LibMNG/Debug
/extern/FreeImage-3.13.1/Source/LibOpenJPEG/Debug
*.tlog
*.pch
*.idb
*.pdb
*.htm
*.ipch
/extern/Bullet-2.82/build/vs2008/lib
*.manifest
/code/CSharpImport/CSharp/GenerateFile
*.exp
*.ilk
*.suo
/extern/FreeImage-3.13.1/Source/LibPNG/Debug
/extern/FreeImage-3.13.1/Source/LibRawLite/Debug
/extern/glew-1.11.0/build/vc6/static/debug
*.cache
*.nvuser
/extern/FreeImage-3.13.1/Source/LibTIFF/Debug
/extern/FreeImage-3.13.1/Source/OpenEXR/Debug
/extern/zlib-1.2.3/projects/visualc6/Win32_LIB_Debug
/extern/FreeImage-3.13.1/Source/ZLib/Debug
*.db
*.res
/extern/freetype-2.3.11/objs/win32/vc2005
/build/window/*.opendb
/Bin/Debug/Animation.lib
/Bin/Debug/Application.lib
/Bin/Debug/BulletPhysics.lib
/Bin/Debug/Common.lib
/Bin/Debug/CSharpImport.lib
/Bin/Debug/D3D11Render.lib
/Bin/Debug/Engine.lib
/Bin/Debug/GLESRender.lib
/Bin/Debug/MonoScript.lib
/Bin/Debug/Animation.dll
/Bin/Debug/Application.dll
/Bin/Debug/BulletPhysics.dll
/Bin/Debug/CSharpImport.dll
/Bin/Debug/D3D11Render.dll
/Bin/Debug/Engine.dll
/Bin/Debug/GLESRender.dll
/Bin/Debug/MonoScript.dll
/Bin/Debug/SampleBrowser.exe
/build/window/*.ncb
/extern/zziplib-0.13.57/msvc8
/extern/glew-1.11.0/lib
/extern/LibCpuId/lib
/Bin/Debug/ShaderCach/D3D11
*.iobj
/extern/IOSBuildLibs/Debug-iphoneos
/extern/FreeImage-3.13.1/*.DS_Store
*.DS_Store
*.filters
*.xcscheme
/extern/FreeImage-3.13.1/Source/LibRawLite/*.user
*.user
/extern/FreeImage-3.13.1/Source/FreeImageLib/Release
/extern/FreeImage-3.13.1/Source/LibJPEG/Release
/extern/FreeImage-3.13.1/Source/LibMNG/Release
/extern/FreeImage-3.13.1/Source/LibPNG/Release
/extern/FreeImage-3.13.1/Source/LibRawLite/Release
/extern/FreeImage-3.13.1/Source/ZLib/Release
/extern/zlib-1.2.3/projects/visualc6/Win32_LIB_Release
/extern/FreeImage-3.13.1/Source/LibTIFF/Release
/extern/FreeImage-3.13.1/Source/LibOpenJPEG/Release
/extern/zziplib-0.13.57/BuildLibs/Debug-iphoneos
/extern/FreeImage-3.13.1/Source/OpenEXR/Release
/extern/Bullet-2.82/build/xCode/BulletCollision.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/extern/Bullet-2.82/build/xCode/BulletDynamics.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/extern/Bullet-2.82/build/xCode/LinerMath.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/extern/FreeImage-3.13.1/Source/FreeImageLib/FreeImage.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/extern/zziplib-0.13.57/ios/ZZiplib.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/build/IOS/Animation.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/build/IOS/Application.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/build/IOS/BulletPhysics.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/build/IOS/Common.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/build/IOS/Engine.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/build/IOS/GLESRender.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/build/IOS/SampleBrowser/SampleBrowser.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/build/IOS/UI.xcodeproj/xcuserdata/myz.xcuserdatad/xcschemes
/build/IOS/maEngine.xcworkspace/xcuserdata/myz.xcuserdatad
/build/IOS/Lib
*.ipdb
/code/Plugin/UI
/Bin/Debug/FbxImport.dll
/Bin/Release/Animation.dll
/Bin/Release/Application.dll
/Bin/Release/BulletPhysics.dll
/Bin/Release/CSharpImport.dll
/Bin/Release/D3D11Render.dll
/Bin/Release/Engine.dll
/Bin/Release/GLESRender.dll
/Bin/Release/mono-2.0.dll
/Bin/Release/MonoScript.dll
/Bin/Debug/FbxImport.lib
/Bin/Debug/WWise.lib
/Bin/Release/Animation.lib
/Bin/Release/Application.lib
/Bin/Release/BulletPhysics.lib
/Bin/Release/Common.lib
/Bin/Release/CSharpImport.lib
/Bin/Release/D3D11Render.lib
/Bin/Release/Engine.lib
/Bin/Release/GLESRender.lib
/Bin/Release/MonoScript.lib
